#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Arial, sans-serif;
}

body {
  background-color: #e5f3f5;
}

.heading{
    font-weight: bold;
}

label{
  display: block;
  margin: 0 0 1rem 0;
  font-size: 1.4rem;
}

.inputAndButton{
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}

.inputAndButton .input{
  width: 25em;
  height: 2.5em;
  border: 2px solid #825151;
  border-radius: 4px;
  outline: none;
  background-color: #825151;
  color: whitesmoke;
  font-size: 1em;
}

.inputAndButton .input:hover{
  cursor: pointer;
}

.inputAndButton button{
  height: 3.5em;
  width: 3.8em;
  border: 2px solid black;
  border-radius: 4px;
}

.inputAndButton button:hover{
  cursor: pointer;
}